doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title DSConf 2019 | India's Premier Distributed Systems Conference
    link(href='https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700,700i', rel='stylesheet')
    link(rel='stylesheet', href='assets/css/style.css')
    link(rel='icon', type='image/png', href='assets/img/DSConf_logo.png')
    // Search Engine
    meta(name='description', content='Best Practices | Future of Distributed Systems')
    meta(name='image', content='https://dsconf.in/assets/img/site-image-meta.jpg')
    // Schema.org for Google
    meta(itemprop='name', content="DSConf 2019 | India's Premier Distributed Systems Conference")
    meta(itemprop='description', content='Best Practices | Future of Distributed Systems')
    meta(itemprop='image', content='https://dsconf.in/assets/img/site-image-meta.jpg')
    // Twitter
    meta(name='twitter:card', content='summary')
    meta(name='twitter:title', content="DSConf 2019 | India's Premier Distributed Systems Conference")
    meta(name='twitter:description', content='Best Practices | Future of Distributed Systems')
    meta(name='twitter:site', content='@dist_sys')
    meta(name='twitter:creator', content='@dist_sys')
    meta(name='twitter:image:src', content='https://dsconf.in/assets/img/site-image-meta.jpg')
    // Open Graph general (Facebook, Pinterest & Google+)
    meta(name='og:title', content="DSConf 2019 | India's Premier Distributed Systems Conference")
    meta(name='og:description', content='Best Practices | Future of Distributed Systems')
    meta(name='og:image', content='https://dsconf.in/assets/img/site-image-meta.jpg')
    meta(name='og:url', content='https://dsconf.in')
    meta(name='og:site_name', content='DSConf 2019')
    meta(name='og:type', content='website')
    script.
      window.ga = window.ga || function() {
      (ga.q = ga.q || []).push(arguments)
      };
      ga.l = +new Date;
      ga('create', 'UA-115518698-1', 'auto');
      ga('send', 'pageview');
    script(async='', src='//www.google-analytics.com/analytics.js')
  body
    nav#navbar
      .container
        img.nav-menu-icon(src='assets/img/menu.svg')
        a.button.nav-mob-cta(href="#!") Register now
        ul#navbar-ul
          li.navbar-ul--first
            span x
          li
            a(href='sponsor/') Become a Sponsor
          li
            a(href='2018/') DSConf 2018
          li
            a(href='code-of-conduct/') Code of Conduct
          li
            a(href='https://www.youtube.com/channel/UCL7eo0uzidPltfX6b8-4KYQ?sub_confirmation=1', target='_blank', rel='noopener noreferrer') Watch DSConf 2018
          li
            a.button.navbar-ul--last(onclick="popup('distributed-systems-conference-2019-331002');") Register now
    
    main#main
      section.section-hero
        .container
          .section-hero__wrapper
            img.section-hero__logo(src='assets/img/DSConf2019_logo.svg', alt='DSConf 2019 logo', width='350')
            h1 Distributed Systems Conference
            p.primary.flow 16 February 2019   |   Pune
            a.button(href='https://www.papercall.io/distributed-systems-conf') Submit a Talk
            button.button-inverted(onclick="popup('distributed-systems-conference-2019-331002');") Register Now
            .section-hero__social
        img(src="assets/img/index-hero.png", alt="").section-hero--right-img
        .section-hero--shape-bottom
              
      section.section-intro
        .section-intro--shape-top
        .container
          .section-intro__sections
            .section-intro__section
              h3 Have You Heard Of The Byzantine Problem?
              p It's the classic scenario where the fate of a complete Army depends on the agreement between the Generals. Every General commands a batallion of troops, and their only options are retreat or attack. As long as all the Generals (or the majority) agree to one strategy, there's hope. To make matters worse, there are some Traitors present who would cast their vote selectively - agree with both the groups selectively.
            .section-intro__section
              h3 Or That Most of The Big Data Systems Never Make It To Production?
              p Observability is the capability to monitor, analyse and proactively respond to events that occur at runtime in big data systems. Another factor that plays a major role is ‘Operability’ - does the organisation have the ability to operate the big data product. Operability is often termed as the Graveyard of Big Data projects!
          .section-intro__content
            p Blockchain and cryptocurreny are also based on Distributed Systems. Blockchain rather exemplifies a disritbuted computing system with high Byzantine Fault Tolerance!
            br
            p DSConf 2018 is conference dedicated to such problems! We have eminent academicians who've spent years researching such problems sharing their thoughts and approach with you. We also have distinguised engineers who've built some really large scale distributed systems talking about practical aspects of distributed systems. The talks are curated in a way to stimulate deep thinking as well has a practical approach to distributed systems.
            br
            p
              em If you like geeking out on mathematical problems or building technology for the future, this conference is a must attend!
      
      section.section-speakers
        .section-speakers--shape-top
        .container
          h2.dash-underline Speakers
          .section-speakers__items
            .section-speakers__item
              .section-speakers__item--wrapper
                .section-speakers__item--left
                  img(src="assets/img/sriram.jpg", alt="sriram")
                .section-speakers__item--right
                  h3 Dr. Sriram Srinivasan
              .section-speakers__item--text
                p Dr. Srinivasan is a systems and programming languages geek with 30+ years of experience, from embedded devices to large-scale distributed systems and frameworks. He was one of the principal designers and implementors of the Weblogic application server. He has a PhD from the Univ. of Cambridge and teaches Distributed Systems at IIT Bombay.
                p 
                  strong Talk: 
                  | The Many Flavours Of Consensus
            .section-speakers__item
              .section-speakers__item--wrapper
                .section-speakers__item--left
                  img(src="assets/img/sriram.jpg", alt="sriram")
                .section-speakers__item--right
                  h3 Dr. Sriram Srinivasan
              .section-speakers__item--text
                p Dr. Srinivasan is a systems and programming languages geek with 30+ years of experience, from embedded devices to large-scale distributed systems and frameworks. He was one of the principal designers and implementors of the Weblogic application server. He has a PhD from the Univ. of Cambridge and teaches Distributed Systems at IIT Bombay.
                p 
                  strong Talk: 
                  | The Many Flavours Of Consensus
          .section-speakers__items
            .section-speakers__item
              .section-speakers__item--wrapper
                .section-speakers__item--left
                  img(src="assets/img/sriram.jpg", alt="sriram")
                .section-speakers__item--right
                  h3 Dr. Sriram Srinivasan
              .section-speakers__item--text
                p Dr. Srinivasan is a systems and programming languages geek with 30+ years of experience, from embedded devices to large-scale distributed systems and frameworks. He was one of the principal designers and implementors of the Weblogic application server. He has a PhD from the Univ. of Cambridge and teaches Distributed Systems at IIT Bombay.
                p 
                  strong Talk: 
                  | The Many Flavours Of Consensus
            .section-speakers__item
              .section-speakers__item--wrapper
                .section-speakers__item--left
                  img(src="assets/img/sriram.jpg", alt="sriram")
                .section-speakers__item--right
                  h3 Dr. Sriram Srinivasan
              .section-speakers__item--text
                p Dr. Srinivasan is a systems and programming languages geek with 30+ years of experience, from embedded devices to large-scale distributed systems and frameworks. He was one of the principal designers and implementors of the Weblogic application server. He has a PhD from the Univ. of Cambridge and teaches Distributed Systems at IIT Bombay.
                p 
                  strong Talk: 
                  | The Many Flavours Of Consensus
      
      section.section-schedule
        .container
          h2.dash-underline Schedule
          .section-schedule-item
            .section-schedule-item__left
              p 9:00 AM
            .section-schedule-item__right
              h3 Good morning
          .section-schedule-item
            .section-schedule-item__left
              p 9:30 AM
            .section-schedule-item__right
              h3 Good night
              .section-schedule-item__right--text
                p.truncate-text Dr. Srinivasan is a systems and programming languages geek with 30+ years of experience, from embedded devices to large-scale distributed systems and frameworks. He was one of the principal designers and implementors of the Weblogic application server. He has a PhD from the Univ. of Cambridge and teaches Distributed Systems at IIT Bombay.
              a.read-more READ MORE
          .section-schedule-item.schedule-grey
            .section-schedule-item__left
              p 11:30 PM
            .section-schedule-item__right
              h3 Lunch
          .section-schedule-item
            .section-schedule-item__left
              p 9:30 AM
            .section-schedule-item__right
              h3 Good night
              .section-schedule-item__right--text
                p.truncate-text Dr. Srinivasan is a systems and programming languages geek.
              a.read-more READ MORE
      section.section-about
        .container
          h2.dash-underline About
          p 
            strong Who&apos;s running Distributed Systems Conference and why?
          p 
            a(href="http://meetup.com/Distributed-Systems-Meetup/", target='_blank', rel='noreferrer noopener') Distributed Systems Pune Meetup
            |  is organising DSConf 2018. We want to help grow &amp; highlight all the work in the areas of Distributed Systems.
          p 
            strong I can't attend, will the videos be available later?
          p Yes, all the videos will be publicly available on 
            a(href="https://www.youtube.com/channel/UCL7eo0uzidPltfX6b8-4KYQ", target='_blank', rel='noreferrer noopener') YouTube
            | . They can also be viewed below.

      section.section-sponsors
        .container
          .section-sponsors__left
            h2.dash-underline Sponsors
            h3 Gold Sponsor
            img(src="assets/img/Trusting-Social-engineering-color-on-White.png", alt="Trusting Social Engineering logo")
          .section-sponsors__right

      section.section-location
        .container
          h2.dash-underline Location
          p Hotel Novotel, Pune, Maharashtra
          iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7564.523938641499!2d73.91137682258827!3d18.56222457027324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c13f953dc837%3A0xb6782032b34e422e!2sNovotel+Pune+Nagar+Road!5e0!3m2!1sen!2sin!4v1542028023287', width='100%', height='450', frameborder='0', style='border:0', allowfullscreen='')

      section.section-organisers
        .container
          h2.dash-underline Organisers
          .section-organisers__items
            .section-organisers__item
              img.section-organisers__item--avatar(src="assets/img/sriram.jpg", alt="")
              p Nishant Modak
              a.section-organisers__item--link(href="https://www.linkedin.com/in/")
                img(src="assets/img/linkedin.svg", alt="linkedin")
            .section-organisers__item
              img.section-organisers__item--avatar(src="assets/img/sriram.jpg", alt="")
              p Nishant Modak
              a.section-organisers__item--link(href="https://www.linkedin.com/in/")
                img(src="assets/img/linkedin.svg", alt="linkedin")
            .section-organisers__item
              img.section-organisers__item--avatar(src="assets/img/sriram.jpg", alt="")
              p Nishant Modak
              a.section-organisers__item--link(href="https://www.linkedin.com/in/")
                img(src="assets/img/linkedin.svg", alt="linkedin")
            .section-organisers__item
              img.section-organisers__item--avatar(src="assets/img/sriram.jpg", alt="")
              p Nishant Modak
              a.section-organisers__item--link(href="https://www.linkedin.com/in/")
                img(src="assets/img/linkedin.svg", alt="linkedin")
            .section-organisers__item
              img.section-organisers__item--avatar(src="assets/img/sriram.jpg", alt="")
              p Nishant Modak
              a.section-organisers__item--link(href="https://www.linkedin.com/in/")
                img(src="assets/img/linkedin.svg", alt="linkedin")

    footer
      .footer-links
        .container
          p Proudly hosted by Distributed Systems Meetup, Pune
          a(href='https://twitter.com/dist_sys', target='_blank', rel='noopener noreferrer')
            img(src='assets/img/twitter-white.svg', width='30', alt='dsconf twitter')
          a(href='https://www.meetup.com/Distributed-Systems-Meetup/', target='_blank', rel='noopener noreferrer')
            img(src='assets/img/meetup-white.svg', width='30', alt='dsconf meetup')

      .footer-copyright
        .container
          a(href='https://ghaas.xyz', target='_blank', rel='noopener noreferrer') Powered by Ghaas


    noscript#tsNoJsMsg Javascript on your browser is not enabled.
    script(src='//www.townscript.com/popup-widget/townscript-widget.nocache.js', type='text/javascript')
    script(src='assets/js/app.js', type='text/javascript')
